go 1.23.0

toolchain go1.23.5

use (
	./algorithm
	./beta
	./bits
	./bytes
	./channel
	./china
	./china/admindivision/internal
	./console
	./constraints
	./context
	./crawler
	./datastructure
	./draw
	./elastic
	./encoding
	./errors
	./gotest
	./govet
	./ids
	./log
	./maps
	./math
	./mysql
	./net
	./openai
	./recovery
	./reflect
	./runtime
	./slice
	./slices
	./syllables
	./sync
	./ternary
	./time
	./unicode
	./unsafe
	./xlsx
)
